[submodule "tcomment"]
	path = tcomment
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "zencoding-vim"]
	path = zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule "autoclose"]
	path = autoclose
	url = git://github.com/Townk/vim-autoclose.git
[submodule "coffeScript-VIM-Snippets"]
	path = coffeScript-VIM-Snippets
	url = git://github.com/carlosvillu/coffeScript-VIM-Snippets.git
[submodule "html5.vim"]
	path = html5.vim
	url = git://github.com/othree/html5.vim.git
[submodule "vim-preview"]
	path = vim-preview
	url = git://github.com/greyblake/vim-preview.git
[submodule "vim-liquid"]
	path = vim-liquid
	url = https://github.com/tpope/vim-liquid.git
[submodule "vim-less"]
	path = vim-less
	url = https://github.com/groenewege/vim-less
[submodule "vim-slim"]
	path = vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "vim-powerline"]
	path = vim-powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule "tabular"]
	path = tabular
	url = https://github.com/godlygeek/tabular
[submodule "funcoo.vim"]
	path = funcoo.vim
	url = https://github.com/rizzatti/funcoo.vim.git
[submodule "dash.vim"]
	path = dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule "TailMinusF"]
	path = TailMinusF
	url = https://github.com/vim-scripts/TailMinusF.git
[submodule "dbext.vim"]
	path = dbext.vim
	url = https://github.com/vim-scripts/dbext.vim.git
[submodule "vim-abolish"]
	path = vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "emmet-vim"]
	path = emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "tomdoc.vim"]
	path = tomdoc.vim
	url = https://github.com/duwanis/tomdoc.vim.git
[submodule "rspec-vim-folding"]
	path = rspec-vim-folding
	url = https://github.com/bcaccinolo/rspec-vim-folding.git
[submodule "vim-node"]
	path = vim-node
	url = https://github.com/moll/vim-node
[submodule "auto-pairs"]
	path = auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "berkshelf.vim"]
	path = berkshelf.vim
	url = https://github.com/alpaca-tc/berkshelf.vim.git
[submodule "vim-bundler"]
	path = vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "vim-projectionist"]
	path = vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "DrawIt"]
	path = DrawIt
	url = https://github.com/vim-scripts/DrawIt.git
[submodule "Dockerfile.vim"]
	path = Dockerfile.vim
	url = git@github.com:ekalinin/Dockerfile.vim.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "YouCompleteMe"]
	path = YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "ultisnips"]
	path = ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim-indent-guides"]
	path = vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "SimpylFold"]
	path = SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "vim-multiple-cursors"]
	path = vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "python-mode"]
	path = python-mode
	url = https://github.com/klen/python-mode.git
