snippet me "magic encoding" b
# -*- coding: utf-8 -*-
endsnippet

snippet abi "absolute import" b
from __future__ import absolute_import
endsnippet

snippet logging "logging abbr" b
import logging
logger = logging.getLogger(__name__)
endsnippet
